html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'PT Sans Caption', sans-serif;*/
  font-weight: 400;
  color: #333;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-reset {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  height: 50px;
  border-radius: 25px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  background-color: #134090;
  color: #fff;
}

.btn:hover {
  border-color: transparent;
  background-color: #1851b6;
  color: #fff;
}

.btn:active {
  border-color: transparent;
  background-color: #0e306c;
  color: #fff;
}

.block-center {
  text-align: center;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
}

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
}

.contacts__email-icon {
  margin-right: 20px;
}

.contacts__email-link {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone-icon {
  margin-right: 20px;
}

.contacts__phone-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__phone-link {
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

@media (max-width: 1000px) {
  .title {
    font-size: 18px;
  }
  .contacts__email {
    margin-right: 55px;
  }
  .contacts__email-link {
    font-size: 16px;
  }
  .contacts__phone-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .contacts__email {
    margin-right: 40px;
  }
}

@media (max-width: 670px) {
  .contacts .contacts__email {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .contacts .contacts__email-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 0;
    background-color: #fff;
  }
  .contacts .contacts__email-icon path {
    fill: #333;
  }
  .contacts .contacts__email-link {
    display: none;
  }
  .contacts .contacts__phone {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts .contacts__phone-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
  }
  .contacts .contacts__phone-icon path {
    fill: #333;
  }
  .contacts .contacts__phone-box {
    display: none;
  }
}

@media (max-width: 480px) {
  .bnt {
    font-size: 14px;
  }
  .title {
    font-size: 14px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  padding: 10px 0;
  font-size: 27px;
  line-height: 150%;
  color: #fff;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  .header__logo {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    padding-top: 15px 0;
    font-size: 15px;
  }
  .header__contacts {
    padding-top: 10px 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/hero-bg.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  width: 860px;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
}

.hero__info-item {
  position: relative;
  margin: 0;
  padding-left: 39px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.hero__info-item:not(:last-child) {
  margin-bottom: 18px;
}

.hero__info-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/hero-item-icon.svg);
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 490px;
  border-radius: 10px;
  margin-left: auto;
  padding: 35px 35px 20px 35px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.hero__form-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.hero__form-input {
  width: 420px;
  height: 50px;
  border: 3px solid #eee;
  border-radius: 25px;
  padding-left: 35px;
  background-color: #fff;
}

.hero__form-input--name {
  margin-bottom: 15px;
}

.hero__form-input--phone {
  margin-bottom: 30px;
}

.hero__form-input::-webkit-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero__form-input:-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero__form-input::-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero__form-input::placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero__form-btn {
  width: 420px;
  margin-bottom: 30px;
}

.hero__form-descr {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.hero-form {
  display: none;
}

.hero-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: auto;
  padding: 35px 35px 20px 35px;
  background-color: #fff;
}

.hero-form__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.hero-form__input {
  width: 420px;
  height: 50px;
  border: 3px solid #eee;
  border-radius: 25px;
  padding-left: 35px;
  background-color: #fff;
}

.hero-form__input--name {
  margin-bottom: 15px;
}

.hero-form__input--phone {
  margin-bottom: 30px;
}

.hero-form__input::-webkit-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero-form__input:-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero-form__input::-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero-form__input::placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.hero-form__btn {
  width: 420px;
  margin-bottom: 30px;
}

.hero-form__descr {
  width: 420px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

@media (max-width: 1400px) {
  .hero__title {
    width: 700px;
    font-size: 36px;
  }
}

@media (max-width: 1230px) {
  .hero__title {
    width: 470px;
    font-size: 24px;
  }
}

@media (max-width: 996px) {
  .hero__title {
    width: 350px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .hero__info-item {
    width: 300px;
    font-size: 14px;
  }
}

@media (max-width: 876px) {
  .hero__title {
    width: 700px;
    margin-bottom: 40px;
    font-size: 36px;
  }
  .hero__info-item {
    width: 100%;
    font-size: 16px;
  }
  .hero__form {
    display: none;
  }
  .hero-form {
    display: block;
  }
}

@media (max-width: 768px) {
  .hero__title {
    width: 550px;
    font-size: 28px;
  }
  .hero__info-item {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .hero__title {
    width: 470px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .hero {
    background-position: center;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title {
    width: 390px;
    font-size: 20px;
  }
  .hero__info-item {
    font-size: 13px;
  }
  .hero-form__title {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .hero-form__input {
    width: 280px;
  }
  .hero-form__input--name {
    margin-bottom: 10px;
  }
  .hero-form__input--phone {
    margin-bottom: 20px;
  }
  .hero-form__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .hero-form__input:-ms-input-placeholder {
    font-size: 14px;
  }
  .hero-form__input::-ms-input-placeholder {
    font-size: 14px;
  }
  .hero-form__input::placeholder {
    font-size: 14px;
  }
  .hero-form__btn {
    width: 280px;
    margin-bottom: 10px;
  }
  .hero-form__descr {
    width: 280px;
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .hero__title {
    width: 280px;
    margin-bottom: 40px;
    font-size: 16px;
  }
  .hero__info-item {
    width: 220px;
    font-size: 13px;
  }
}

.services {
  padding-top: 130px;
  padding-bottom: 35px;
}

.services__title {
  margin-bottom: 65px;
  color: #134090;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 180px;
  margin-bottom: 30px;
  padding: 25px 0 20px 0;
  cursor: pointer;
}

.services__item:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.services__item:hover .services__item-title {
  text-decoration: underline;
}

.services__item-img {
  padding: 0 40px;
}

.services__item-title {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

@media (max-width: 1000px) {
  .services {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__item {
    width: 225px;
    height: 150px;
    margin-bottom: 20px;
  }
  .services__item-title {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .services__title {
    margin-bottom: 25px;
  }
  .services__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.prices {
  padding-top: 65px;
  padding-bottom: 115px;
}

.prices__title {
  margin-bottom: 80px;
  color: #134090;
}

.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.prices__item {
  width: 360px;
  margin-bottom: 30px;
}

.prices__item-img {
  margin-bottom: 25px;
}

.prices__item-descr {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.prices__btn {
  width: 300px;
  border: 3px solid #134090;
  background-color: #fff;
  color: #333;
}

@media (max-width: 1000px) {
  .prices {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .prices__title {
    margin-bottom: 40px;
  }
  .prices__list {
    margin-bottom: 0;
  }
  .prices__item {
    width: 225px;
  }
  .prices__item-descr {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .prices {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .prices__title {
    margin-bottom: 20px;
  }
  .prices__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .prices__item {
    margin-bottom: 30px;
  }
  .prices__item-img {
    margin-bottom: 10px;
  }
  .prices__btn {
    width: 280px;
  }
}

.order {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #333;
}

.order__content {
  width: 735px;
  padding-left: 165px;
}

.order__title {
  margin-bottom: 45px;
  color: #fff;
}

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.order__form-inner {
  width: 660px;
  margin-bottom: 20px;
}

.order__form-inner--dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__form-inner--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.order__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__form-name {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #999;
}

.order__form-input {
  width: 100%;
  height: 40px;
  border: 3px solid #eee;
  padding-left: 20px;
  background-color: #fff;
}

.order__form-input--size {
  width: 200px;
}

.order__form-input--phone {
  width: 430px;
}

.order__form-input::-webkit-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.order__form-input:-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.order__form-input::-ms-input-placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.order__form-input::placeholder {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.order__form-select {
  width: 200px;
  height: 40px;
  margin-right: 30px;
}

.order__form-checkbox {
  margin-right: 5px;
}

.order__form-text {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ccc;
}

.order__form-btn {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 25px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  background-color: #fcc02a;
  color: #333;
}

.order__form-btn:hover {
  background-color: #fcd52a;
}

.order__form-btn:active {
  background-color: #fcb12a;
}

.order__form-descr {
  margin: 0;
  width: 735px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ccc;
}

@media (max-width: 1000px) {
  .order__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__content {
    padding-left: 0;
  }
  .order__title {
    font-size: 28px;
  }
}

@media (max-width: 870px) {
  .order__content {
    width: 470px;
  }
  .order__form-inner {
    width: 470px;
  }
  .order__form-inner--dflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__form-inner--checkbox {
    margin-bottom: 20px;
  }
  .order__form-select {
    width: 470px;
  }
  .order__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__form-box .order__form-input:not(:last-child) {
    margin-bottom: 20px;
  }
  .order__form-input {
    width: 470px;
  }
  .order__form-text {
    font-size: 13px;
  }
  .order__form-btn {
    width: 470px;
  }
  .order__form-descr {
    width: 600px;
    font-size: 12px;
  }
}

@media (max-width: 670px) {
  .order__content {
    width: 380px;
  }
  .order__title {
    font-size: 14px;
  }
  .order__form-inner {
    width: 380px;
  }
  .order__form-inner--dflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__form-inner--checkbox {
    margin-bottom: 20px;
  }
  .order__form-select {
    width: 380px;
  }
  .order__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__form-box .order__form-input:not(:last-child) {
    margin-bottom: 20px;
  }
  .order__form-input {
    width: 380px;
  }
  .order__form-text {
    font-size: 13px;
  }
  .order__form-btn {
    width: 380px;
  }
  .order__form-descr {
    display: none;
  }
}

@media (max-width: 480px) {
  .order {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .order__content {
    width: 280px;
  }
  .order__title {
    font-size: 14px;
  }
  .order__form-name {
    font-size: 12px;
  }
  .order__form-inner {
    width: 280px;
  }
  .order__form-inner--dflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__form-inner--checkbox {
    margin-bottom: 20px;
  }
  .order__form-inner::-webkit-input-placeholder {
    font-size: 14px;
  }
  .order__form-inner:-ms-input-placeholder {
    font-size: 14px;
  }
  .order__form-inner::-ms-input-placeholder {
    font-size: 14px;
  }
  .order__form-inner::placeholder {
    font-size: 14px;
  }
  .order__form-select {
    width: 280px;
  }
  .order__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__form-box .order__form-input:not(:last-child) {
    margin-bottom: 20px;
  }
  .order__form-input {
    width: 280px;
  }
  .order__form-text {
    font-size: 13px;
  }
  .order__form-btn {
    width: 280px;
  }
}

@media (max-width: 400px) {
  .order {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .order__content {
    width: 260px;
  }
  .order__title {
    font-size: 14px;
  }
  .order__form-name {
    font-size: 10px;
  }
  .order__form-inner {
    width: 260px;
  }
  .order__form-inner--dflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order__form-inner--checkbox {
    margin-bottom: 20px;
  }
  .order__form-select {
    width: 260px;
  }
  .order__form-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__form-box .order__form-input:not(:last-child) {
    margin-bottom: 20px;
  }
  .order__form-input {
    width: 260px;
  }
  .order__form-text {
    font-size: 13px;
  }
  .order__form-btn {
    width: 260px;
  }
  .order__form-descr {
    display: none;
  }
}

.partners {
  padding-top: 145px;
  padding-bottom: 40px;
}

.partners__title {
  margin-bottom: 80px;
  color: #134090;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-bottom: 30px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .partners__item-img {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .partners {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .partners__title {
    margin-bottom: 25px;
  }
  .partners__item {
    margin-bottom: 25px;
  }
}

@media (max-width: 870px) {
  .partners__item-img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  partners__item-img {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .partners {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .partners__title {
    margin-bottom: 20px;
  }
  .partners__item {
    width: 50%;
    margin-bottom: 10px;
  }
  .partners__item-img {
    width: 50%;
  }
}

.works {
  padding-top: 65px;
  padding-bottom: 65px;
}

.works__title {
  margin-bottom: 80px;
  color: #134090;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 46%;
  margin-bottom: 30px;
}

.works__item-img {
  height: 200px;
  margin-right: 20px;
}

.works__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.works__item-adress {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.works__item-adress--title {
  font-weight: 700;
  margin-right: 3px;
}

.works__item-production {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.works__item-production--title {
  font-weight: 700;
  margin-right: 3px;
}

.works__btn {
  width: 300px;
  border: 3px solid #134090;
  background-color: #fff;
  color: #333;
}

@media (max-width: 1300px) {
  .works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__item-img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .works {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .works__title {
    margin-bottom: 40px;
  }
  .works__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .works__item-adress {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .works__item-production {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .works__item {
    width: 60%;
  }
  .works__item-img {
    height: 150px;
  }
}

@media (max-width: 575px) {
  .works__item {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .works {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .works__title {
    margin-bottom: 20px;
  }
  .works__item {
    width: 100%;
  }
  .works__item-img {
    height: 125px;
    margin-bottom: 10px;
  }
  .works__btn {
    width: 280px;
  }
}

.stages {
  padding-top: 65px;
  padding-bottom: 135px;
}

.stages__title {
  margin-bottom: 80px;
  color: #134090;
}

.stages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-bottom: 40px;
  cursor: pointer;
}

.stages__item:hover .stages__item-number {
  background-color: #fcc02a;
  color: #333;
}

.stages__item:nth-child(2n) {
  width: 30%;
}

.stages__item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #333;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.stages__item-box {
  width: 60%;
}

.stages__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.stages__item-value {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

@media (max-width: 1000px) {
  .stages {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .stages__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 996px) {
  .stages {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .stages__title {
    margin-bottom: 25px;
  }
  .stages__item-number {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    font-size: 28px;
  }
  .stages__item-title {
    font-size: 14px;
  }
  .stages__item-value {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .stages__item {
    width: 60%;
  }
  .stages__item:nth-child(2n) {
    width: 40%;
  }
  .stages__item-number {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    font-size: 26px;
    line-height: 50px;
  }
}

@media (max-width: 480px) {
  .stages {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .stages__title {
    margin-bottom: 25px;
  }
  .stages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stages__item {
    width: 100%;
    margin-bottom: 15px;
  }
  .stages__item:nth-child(2n) {
    width: 100%;
    margin-left: 0;
  }
  .stages__item-number {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 40px;
  }
  .stages__item-box {
    width: 180px;
  }
  .stages__item-title {
    font-size: 12px;
  }
  .stages__item-value {
    font-size: 12px;
  }
}

.benefits {
  padding-top: 40px;
  padding-bottom: 65px;
  background-color: #eee;
}

.benefits__title {
  margin-bottom: 25px;
  color: #134090;
}

.benefits__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #999;
}

.benefits__descr-item {
  margin: 0;
  margin-bottom: 10px;
}

.benefits__descr-item:last-child {
  margin-bottom: 55px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits__item {
  text-align: center;
}

.benefits__item-value {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #134090;
}

.benefits__item-descr {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #999;
}

@media (max-width: 1000px) {
  .benefits {
    padding-bottom: 50px;
  }
  .benefits__descr {
    font-size: 14px;
  }
  .benefits__descr-item:first-child {
    width: 70%;
  }
  .benefits__descr-item:last-child {
    margin-bottom: 40px;
  }
  .benefits__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefits__item-value {
    margin-bottom: 10px;
    font-size: 35px;
  }
  .benefits__item-descr {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  .benefits__descr {
    font-size: 14px;
  }
  .benefits__item-value {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .benefits__descr-item:first-child {
    width: 100%;
  }
  .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits__item {
    margin-bottom: 30px;
  }
  .benefits__item-value {
    font-size: 50px;
  }
  .benefits__item-descr {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .benefits {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .benefits__title {
    margin-bottom: 35px;
  }
  .benefits__descr {
    display: none;
  }
}

.payment {
  padding-top: 100px;
  padding-bottom: 85px;
}

.payment__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__content {
  width: 660px;
}

.payment__title {
  margin-bottom: 30px;
  color: #134090;
}

.payment__descr {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #999;
}

.payment__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.payment__form-descr {
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.payment__form-value {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.payment__form-width {
  margin-bottom: 100px;
}

.payment__form-slide {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 8px;
  margin-bottom: 20px;
  background-color: #eee;
  opacity: .7;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.payment__form-slide::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
}

.payment__form-slide:hover {
  opacity: 1;
}

.payment__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__form-step {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #999;
}

.payment__form-btn {
  width: 200px;
}

@media (max-width: 1000px) {
  .payment {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .payment__title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .payment {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .payment__content {
    width: 100%;
  }
  .payment__title {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .payment__descr {
    margin-bottom: 20px;
    font-size: 13px;
  }
  .payment__form-inner {
    margin-bottom: 5px;
  }
  .payment__form-descr {
    font-size: 12px;
  }
  .payment__form-value {
    font-size: 12px;
  }
  .payment__form-width {
    margin-bottom: 10px;
  }
  .payment__form-step {
    font-size: 13px;
  }
  .payment__form-btn {
    width: 130px;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #333;
}

.footer__inner {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 7fr 3fr;
      grid-template-columns: 2fr 7fr 3fr;
}

.footer__box {
  margin-right: 50px;
}

.footer__logo {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  color: #fff;
}

.footer__logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 170px;
  height: 1px;
  background-color: #eee;
}

.footer__copyright {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #999;
}

.footer__nav-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr 3fr;
}

.footer__nav-title {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.footer__nav-link {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-decoration: underline;
  color: #999;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  line-height: 150%;
}

.footer__contacts .contacts__email {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0;
}

.footer__contacts .contacts__email-icon {
  display: none;
}

.footer__contacts .contacts__phone {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 40px;
}

.footer__contacts .contacts__phone-icon {
  display: none;
}

@media (max-width: 1000px) {
  .footer__logo {
    font-size: 20px;
  }
  .footer__nav-inner {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
  .footer__nav {
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .footer__inner {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
  .footer__logo {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .footer__logo::after {
    width: 130px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__nav-inner {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
  .footer__nav {
    margin-bottom: 20px;
  }
  .footer__nav-title {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .footer__nav-link {
    font-size: 12px;
  }
  .footer__contacts {
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer__contacts .contacts__email-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__contacts .contacts__phone {
    margin-bottom: 20px;
  }
  .footer__contacts .contacts__phone-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */