.footer{
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: $color-black;
    &__inner{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 7fr 3fr;
    }
    &__box{
        margin-right: 50px;
    }
    &__logo{
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding-bottom: 15px;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 700;
        font-size: 23px;
        line-height: 150%;
        color: $color-white;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 170px;
            height: 1px;
            background-color: #eee;
        }
    }
    &__copyright{
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $color-gray;
    }
    &__nav-inner{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
    }
    &__nav-title{
        margin: 0;
        margin-bottom: 15px;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: $color-white;
    }
    &__nav-link{
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-decoration: underline;
        color: $color-gray;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 20px;
        line-height: 150%;
        & .contacts__email{
            order: 2;
            margin-right: 0;
        }
        & .contacts__email-icon{
            display: none;
        }
        & .contacts__phone{
            order: 1;
            margin-bottom: 40px;
        }
        & .contacts__phone-icon{
            display: none;
        }
    }
}
@media (max-width: 1000px){
    .footer{
        &__logo{
            font-size: 20px;
        }
        &__nav-inner{
            grid-template-columns: 6fr 6fr;
        }
        &__nav{
            margin-bottom: 60px;
        }
    }
}
@media (max-width: 480px){
    .footer{
        &__inner{
            grid-template-columns: 12fr;
        }
        &__logo{
            margin-bottom: 10px;
            padding-bottom: 10px;
            font-size: 15px;
            &::after{
                width: 130px;
            }
        }
        &__copyright{
            font-size: 10px;
        }
        &__nav-inner{
            grid-template-columns: 12fr;
        }
        &__nav{
            margin-bottom: 20px;
        }
        &__nav-title{
            margin-bottom: 15px;
            font-size: 14px;
        }
        &__nav-link{
            font-size: 12px;
        }
        &__contacts{
            position: absolute;
            top: 0;
            right: 0;
            & .contacts__email-icon{
                display: flex;
            }
            & .contacts__phone{
                margin-bottom: 20px;
            }
            & .contacts__phone-icon{
                display: flex;
                margin-right: 0;
            }
        }
    }
}