.partners{
    padding-top: 145px;
    padding-bottom: 40px;
    &__title{
        margin-bottom: 80px;
        color: $color-blue;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin-bottom: 30px;
        cursor: pointer;
    }
}
@media (max-width: 1000px){
    .partners{
        padding-top: 50px;
        padding-bottom: 0;
        &__title{
            margin-bottom: 25px;
        }
        &__item{
            margin-bottom: 25px;
        }
        &__item-img{
            max-width: 80%;
        }
    }
}