.works{
    padding-top: 65px;
    padding-bottom: 65px;
    &__title{
        margin-bottom: 80px;
        color: $color-blue;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        width: 46%;
        margin-bottom: 30px;
    }
    &__item-img{
        height: 200px;
        margin-right: 20px;
    }
    &__item-title{
        margin: 0;
        margin-bottom: 20px;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
    }
    &__item-adress{
        margin: 0;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        &--title{
            font-weight: 700;
            margin-right: 3px;
        }
    }
    &__item-production{
        margin: 0;
        font-family: 'PT Sans Caption', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        &--title{
            font-weight: 700;
            margin-right: 3px;
        }
    }
    &__btn{
        width: 300px;
        border: 3px solid $color-blue;
        background-color: $color-white;
        color: $color-black;
    }
}
@media (max-width: 1300px){
    .works{
        &__item{
            flex-direction: column;
        }
        &__item-img{
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
}
@media (max-width: 1000px){
    .works{
        padding-top: 25px;
        padding-bottom: 30px;
        &__title{
            margin-bottom: 40px;
        }
        &__item-title{
            font-size: 16px;
            margin-bottom: 10px;
        }
        &__item-adress{
            font-size: 13px;
            margin-bottom: 5px;
        }
        &__item-production{
            font-size: 13px;
        }
    }
}
@media (max-width: 768px){
    .works{
        &__list{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__item{
            width: 60%;
        }
        &__item-img{
            height: 150px;
        }
    }
}
@media (max-width: 575px){
    .works{
        &__item{
            width: 80%;
        }
    }
}
@media (max-width: 480px){
    .works{
        padding-top: 20px;
        padding-bottom: 20px;
        &__title{
            margin-bottom: 20px;
        }
        &__item{
            width: 100%;
        }
        &__item-img{
            height: 125px;
            margin-bottom: 10px;
        }
        &__btn{
            width: 280px;
        }
    }
}